includeConfig 'process_resources.config'

process {
    executor = 'slurm'
    cache = 'lenient'

    withName:ALIGN_STAR {
        maxForks = 10
    }
    withName: 'DOWNLOAD_REFERENCES|COPY_REFERENCES|DOWNLOAD_ERCC|SUBSAMPLE_GENOME|CONCAT_ERCC|GTF_TO_PRED|PRED_TO_BED|BUILD_STAR_INDEX|BUILD_RSEM_INDEX|BUILD_BOWTIE2_INDEX' {
        afterScript = 'sleep 60'
    }
}

executor {
    queueSize = 32
    pollInterval = '1 min'
    queueStatInterval = '2 min'
    submitRateLimit = '1 sec'
}
